@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  cursor: pointer;
}

h1 {
  color: green;
}

h1, .search__bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

/* 
SEARCH FOR A MOVIE
*/

.search__bar {
  margin: 16px;
}

input {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  border-radius: 20px;
}

.btn {
margin-left: 10px;
padding: 8px;
}

.search__area {
  padding: 0 8px;
}

/*
Movie Cards
*/

div {
display: block;
}

.container__results {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row__search--results {
  display: block;
}

.movie__list {
display: flex;
flex-wrap: wrap;
}

.movie__card {
  box-shadow: 0 4px 8px 0;
  margin: 10px;
  border-radius: 10px;
}

.box__art {
  padding: 25px 50px 10px 50px;
}

.card--container {
  padding: 4px 12px;
}

.movie__title {
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
}

p {
  font-size: 14px;
}

.release__date {
  font-weight: 500;
  font-style: italic;
  text-align: right;
  margin-right: 1.5em;
}

.imdb__page {
  margin: 1.5em;
}